/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit !important;
  text-decoration: none;
}

.article-h3 {
  font-size: 1.5em;
  line-height: 1;
}

footer {
  background-color: #272a31;
  margin-top: 10px;
  margin-right: 0;
}
footer h2 {
  width: 100%;
  font-family: "cocogoosedemibold";
  color: #bbb7b7;
  text-align: center;
}
@media screen and (max-width: 818px) and (min-width: 768px) {
  footer h2 {
    width: 100%;
  }
}
footer .line {
  border-top: 2px solid #ec5242;
  width: 5%;
  margin-left: 47.5%;
}
footer ul {
  display: flex;
  margin-left: 25%;
  margin-top: 40px;
  align-content: center;
  width: 75%;
}
footer li {
  color: #5f5f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.6%;
  margin-right: 3%;
  font-size: 2rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  footer li {
    font-size: 2rem;
  }
}

.under-box {
  text-align: center;
  margin-top: 30px;
}
.under-box p {
  margin: 0;
  font-size: 0.8rem;
}
.under-box a {
  font-weight: bold;
  text-decoration: underline;
}

#top-nav {
  display: none;
  background: black;
  background: linear-gradient(49deg, rgba(15, 17, 19, 0.8152424942) 54%, rgba(15, 17, 19, 0.8152424942) 54%);
  margin-bottom: 0;
}
@media screen and (max-width: 2000px) and (min-width: 769px) {
  #top-nav {
    display: block;
  }
}
#top-nav ul {
  margin-left: 72%;
  margin-right: 6%;
}
#top-nav ul::after {
  content: "";
  display: block;
  clear: both;
}
#top-nav li {
  float: left;
  margin-right: 4%;
  text-align: center;
}
@media screen and (max-width: 921px) and (min-width: 769px) {
  #top-nav li {
    margin-right: 2%;
  }
}
#top-nav a {
  font-size: 0.8rem;
  color: white;
  opacity: 0.7;
}
#top-nav:hover {
  text-decoration: none;
}

.text-bg-about {
  padding-top: 30px;
  letter-spacing: 7px;
  text-align: center;
}
.text-bg-about h1 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
@media screen and (max-width: 540px) {
  .text-bg-about h1 {
    font-size: 1.5rem;
  }
}

.box-on-screen-about {
  font-family: "Lato", sans-serif;
  z-index: 2;
  background-color: white;
  width: 60%;
  margin-left: 20%;
  border: 2px solid #b3b3b3;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .box-on-screen-about {
    max-height: 50vh;
    overflow: scroll;
  }
}
@media screen and (max-width: 768px) {
  .box-on-screen-about {
    width: 80%;
    margin-left: 10%;
  }
}
.box-on-screen-about p {
  margin: 0 10% 1px 10%;
  font-size: 0.8rem;
}
.box-on-screen-about .hidden-text-rm {
  margin-top: 10px;
}
@media screen and (max-width: 3000px) and (min-width: 540px) {
  .box-on-screen-about .hidden-text-rm {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .box-on-screen-about .hidden-text {
    display: none;
  }
}

.foot-2 img {
  width: 100px;
  height: auto;
}
@media screen and (max-width: 745px) {
  .foot-2 img {
    height: 70px;
  }
}
@media screen and (max-width: 745px) {
  .foot-2 p {
    font-size: 0.8rem;
  }
}

#main-program {
  background-image: url(https://cdn.cp.adobe.io/content/2/dcx/9201c10f-8b09-4fa4-a15b-cb0b102da3cb/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 420px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #main-program {
    height: 520px;
  }
}
@media screen and (max-width: 520px) {
  #main-program {
    height: 395px;
  }
}
#main-program h2,
#main-program h4 {
  padding-top: 30px;
  font-family: "cocogoosedemibold";
  color: white;
  text-align: center;
}
#main-program h4 {
  font-size: 1rem;
}
#main-program .line {
  border-top: 2px solid #ec5242;
  width: 5%;
  margin-left: 47.5%;
}
@media screen and (max-width: 768px) {
  #main-program ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#main-program li {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program li {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 13.2%;
    margin-top: 60px;
    padding-bottom: 10px;
    height: 160px;
  }
  #main-program li:first-child {
    margin-left: 15%;
  }
  #main-program li:nth-child(5n) {
    margin-right: 15%;
  }
}
@media screen and (max-width: 768px) {
  #main-program li {
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    padding: 2px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 520px) {
  #main-program li {
    font-size: 0.6rem;
  }
}
#main-program p {
  margin-left: 7%;
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program p {
    margin-right: 7%;
  }
}
#main-program i {
  margin-top: 8px;
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program i {
    font-size: 2rem;
  }
}
#main-program p,
#main-program i {
  text-align: center;
  color: white;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #main-program p,
#main-program i {
    float: left;
  }
}
#main-program .header-grid {
  color: #ec5242;
  font-weight: bold;
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  #main-program .header-grid {
    width: 21%;
  }
}
@media screen and (max-width: 768px) {
  #main-program .flex-font {
    width: 50%;
  }
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program .flex-font {
    font-size: 0.7rem;
  }
}

#featured-speakers {
  margin-bottom: 10px;
  height: 750px;
}
@media screen and (max-width: 768px) {
  #featured-speakers {
    height: 800px;
  }
}
#featured-speakers h2 {
  font-family: "cocogoosedemibold";
  margin-top: 55px;
  text-align: center;
}
#featured-speakers .line {
  border-top: 2px solid #ec5242;
  width: 5%;
  margin-left: 47.5%;
}
@media screen and (max-width: 768px) {
  #featured-speakers ul {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
  }
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #featured-speakers li {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 32.5%;
    margin-top: 60px;
    padding-bottom: 10px;
  }
  #featured-speakers li:first-child {
    margin-left: 15%;
  }
  #featured-speakers li:nth-child(2n) {
    margin-right: 15%;
  }
  #featured-speakers li:nth-child(even) {
    margin-right: 15%;
  }
  #featured-speakers li:nth-child(odd) {
    margin-left: 15%;
  }
  #featured-speakers li h4 {
    font-weight: bold;
    font-size: 0.9rem;
  }
  #featured-speakers li small {
    font-size: 0.5rem;
    color: #ec5242;
  }
  #featured-speakers li hr {
    width: 10%;
  }
  #featured-speakers li p {
    font-size: 0.7rem;
  }
  #featured-speakers li h4,
#featured-speakers li p {
    margin-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  #featured-speakers li {
    margin-top: 40px;
  }
  #featured-speakers li h4,
#featured-speakers li p {
    margin-left: 20px;
    font-size: 0.6rem;
  }
  #featured-speakers li img {
    width: 50px;
    height: 50px;
  }
  #featured-speakers li .grid-shadow-img {
    top: -15px;
    left: -15px;
    z-index: -1;
  }
}
#featured-speakers li .flex-list {
  display: flex;
}
#featured-speakers li .grid-shadow-img {
  top: -30px;
  left: -30px;
  z-index: -1;
  width: 50px;
}

#step-1 {
  background-color: #eee;
  height: 520px;
  padding-top: 40px;
}
#step-1 h1 {
  font-size: 1.5rem;
  text-align: center;
}
#step-1 h2 {
  padding-top: 30px;
  font-family: "cocogoosedemibold";
  text-align: center;
  font-size: 1.2rem;
}
#step-1 p {
  margin: 0;
  font-size: 0.7rem;
}
@media screen and (max-width: 845px) {
  #step-1 p {
    font-size: 0.6rem;
  }
}
#step-1 span {
  color: #ec5242;
  margin-right: 20px;
  font-size: 0.8rem;
}
@media screen and (max-width: 845px) {
  #step-1 span {
    font-size: 0.7rem;
  }
}
#step-1 .line {
  border-top: 2px solid #ec5242;
  z-index: 2;
  width: 3%;
  margin-left: 48.5%;
}
#step-1 .round-border {
  padding: 5px 12px;
  margin-top: 40px;
  margin-left: 33.5%;
  width: 33%;
  border: 1px solid lightgrey;
  border-radius: 100px;
}
@media screen and (max-width: 1077px) {
  #step-1 .round-border {
    width: 40%;
    margin-left: 30%;
  }
}
@media screen and (max-width: 889px) {
  #step-1 .round-border {
    width: 42%;
    margin-left: 29%;
  }
}
@media screen and (max-width: 744px) {
  #step-1 .round-border {
    width: 45%;
    margin-left: 27.5%;
  }
}
@media screen and (max-width: 500px) {
  #step-1 .round-border {
    width: 75%;
    margin-left: 12.5%;
  }
}
@media screen and (max-width: 450px) {
  #step-1 .round-border {
    width: 85%;
    margin-left: 7.5%;
  }
}
#step-1 th {
  border: 1px solid lightgrey;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.7rem;
}
@media screen and (max-width: 889px) {
  #step-1 th {
    padding: 7px 14px;
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 490px) {
  #step-1 th {
    padding: 5px 10px;
    font-size: 0.5rem;
  }
}
#step-1 .orange {
  color: #ec5242;
}
#step-1 table {
  border: 3px solid #ec5242;
  margin: 30px auto;
  background-color: white;
}

.grid-list-img {
  width: 100px;
  height: 100px;
}

.half-page-icon {
  margin-left: 49%;
  margin-top: -25px;
  font-size: 2rem;
  color: #ec5242;
  z-index: 3;
}

#small-nav {
  background-color: #272a31;
  display: none;
}
@media screen and (max-width: 768px) {
  #small-nav {
    display: block;
  }
}
#small-nav button {
  font-size: 2rem;
}
#small-nav li {
  margin-left: 10px;
}

#step-2 {
  background-color: white;
  height: 550px;
}
#step-2 h2 {
  padding-top: 30px;
  font-family: "cocogoosedemibold";
  text-align: center;
  font-size: 1.6rem;
}
#step-2 p {
  margin: 0;
  font-size: 0.7rem;
}
@media screen and (max-width: 845px) {
  #step-2 p {
    font-size: 0.6rem;
  }
}
#step-2 span {
  color: #ec5242;
  margin-right: 20px;
  font-size: 0.8rem;
}
@media screen and (max-width: 845px) {
  #step-2 span {
    font-size: 0.7rem;
  }
}
#step-2 .orange {
  color: #ec5242;
}
#step-2 .line {
  border-top: 2px solid #ec5242;
  z-index: 2;
  width: 3%;
  margin-left: 48.5%;
}
#step-2 .round-border {
  padding: 5px 12px;
  margin-top: 40px;
  margin-left: 33.5%;
  width: 33%;
  border: 1px solid lightgrey;
  border-radius: 100px;
}
@media screen and (max-width: 1160px) {
  #step-2 .round-border {
    width: 40%;
    margin-left: 30%;
  }
}
@media screen and (max-width: 966px) {
  #step-2 .round-border {
    width: 42%;
    margin-left: 29%;
  }
}
@media screen and (max-width: 768px) {
  #step-2 .round-border {
    width: 45%;
    margin-left: 27.5%;
  }
}
@media screen and (max-width: 500px) {
  #step-2 .round-border {
    width: 75%;
    margin-left: 12.5%;
  }
}
@media screen and (max-width: 450px) {
  #step-2 .round-border {
    width: 85%;
    margin-left: 7.5%;
  }
}
#step-2 th {
  border: 1px solid lightgrey;
  padding: 10px 60px;
  text-align: center;
  font-size: 0.7rem;
}
@media screen and (max-width: 889px) {
  #step-2 th {
    padding: 7px 44px;
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 490px) {
  #step-2 th {
    padding: 5px 20px;
    font-size: 0.6rem;
  }
}
#step-2 table {
  border: 3px solid #272a31;
  margin: 30px auto;
  background-color: white;
}
#step-2 table i {
  font-size: 1.5rem;
}
#step-2 table input {
  margin: 5px;
}
#step-2 thead {
  background-color: #eee;
}
#step-2 .butn-group {
  margin: 60px 25%;
}
@media screen and (max-width: 768px) {
  #step-2 .butn-group button {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 382px) {
  #step-2 .butn-group button {
    font-size: 0.5rem;
  }
}

#previous-medusa {
  height: 450px;
}
@media screen and (max-width: 767px) {
  #previous-medusa {
    height: 570px;
  }
}
#previous-medusa h2 {
  padding-top: 30px;
  font-family: "cocogoosedemibold";
  text-align: center;
  font-size: 1.6rem;
}
#previous-medusa .line {
  border-top: 2px solid #ec5242;
  z-index: 2;
  width: 5%;
  margin-left: 47.5%;
}
#previous-medusa .logo-text {
  margin-top: 40px;
  font-size: 0.8rem;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}
#previous-medusa ul {
  padding-top: 45px;
}
@media screen and (max-width: 767px) {
  #previous-medusa ul {
    padding-top: 20px;
  }
}
#previous-medusa li {
  padding-top: 50px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 3000px) and (min-width: 768px) {
  #previous-medusa li {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 32.5%;
    height: 180px;
  }
  #previous-medusa li:first-child {
    margin-left: 15%;
  }
  #previous-medusa li:nth-child(2n) {
    margin-right: 15%;
  }
}
@media screen and (max-width: 767px) {
  #previous-medusa li {
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 150px;
  }
}
#previous-medusa li p {
  font-family: "Lato", sans-serif;
  margin: 3px 5px 10px 5px;
}
#previous-medusa .bg1 {
  background: linear-gradient(to bottom, rgba(247, 48, 48, 0.596), rgba(247, 48, 48, 0.596)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/17f0939e-6a31-4b53-b936-6683b13424f0/d4y5w1h-61fc707c-a05e-430d-93b3-cf3f7f6feb84.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTdmMDkzOWUtNmEzMS00YjUzLWI5MzYtNjY4M2IxMzQyNGYwXC9kNHk1dzFoLTYxZmM3MDdjLWEwNWUtNDMwZC05M2IzLWNmM2Y3ZjZmZWI4NC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.6jqahdpazu-x5S99Qslw5TCz4cfscx8WnHQSReKYqgw);
  background-position: center;
  background-size: cover;
}
#previous-medusa .bg2 {
  background: linear-gradient(to bottom, rgba(247, 48, 48, 0.596), rgba(247, 48, 48, 0.596)), url(https://image.shutterstock.com/image-illustration/hand-drawn-medusa-skull-black-600w-1495755284.jpg);
  background-position: center;
  background-size: cover;
}

#bot-nav {
  height: 50px;
  display: none;
  margin-top: 0;
  padding-left: 15%;
}
#bot-nav img {
  float: left;
  width: 100px;
  margin-top: -10px;
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #bot-nav {
    display: block;
  }
}
#bot-nav ul {
  margin-left: 29%;
}
#bot-nav li {
  float: left;
  align-content: center;
  font-size: 0.8rem;
  margin-right: 7%;
  margin-top: 8px;
}
@media screen and (max-width: 921px) and (min-width: 769px) {
  #bot-nav li {
    margin-right: 5%;
  }
}
#bot-nav li:first-child {
  color: #ec5242;
}
#bot-nav li:last-child {
  margin-left: 3%;
  margin-top: 0;
  padding: 5px 7px;
  border: 3px solid #ec5242;
}

#logo {
  border-bottom: 2px solid #f3f3f3;
}
#logo h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 1.6rem;
}
#logo h2 h2,
#logo h2 h4 {
  padding-top: 30px;
  font-family: "cocogoosedemibold";
  color: white;
  text-align: center;
}
#logo h2 h4 {
  font-size: 1rem;
}
#logo .line {
  border-top: 2px solid #ec5242;
  z-index: 2;
  width: 5%;
  margin-left: 47.5%;
}
#logo .logo-text {
  margin-top: 40px;
  font-size: 0.8rem;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}
#logo .logo-img-card {
  margin-top: 30px;
  margin-bottom: 35px;
  width: 30%;
  margin-left: 35%;
  border: 2px solid #f3f3f3;
}
#logo .logo-img-card img {
  width: 90%;
  margin: 2.5% 5%;
}

.main-bg {
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://cdn.cp.adobe.io/content/2/dcx/a708b1d2-528f-45b0-ad10-31259dd4db79/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 650px;
  margin-bottom: 0;
}
@media screen and (max-width: 500px) {
  .main-bg {
    height: 430px;
  }
}
@media screen and (max-width: 668px) and (min-width: 501px) {
  .main-bg {
    height: 460px;
  }
}
@media screen and (max-width: 768px) and (min-width: 669px) {
  .main-bg {
    height: 520px;
  }
}
.main-bg .bg-section {
  z-index: 3;
  height: 150px;
  width: 70%;
  display: block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-bg .bg-section {
    height: 100px;
  }
}
.main-bg .bg-section::after {
  content: "";
  z-index: 2;
  background-image: url(https://i.pinimg.com/originals/e0/fe/a0/e0fea00cb18c59520ae24b30b2b9ee97.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.main-bg #main-content {
  padding-left: 5%;
  z-index: 7;
}
@media screen and (max-width: 3000px) and (min-width: 768px) {
  .main-bg #main-content {
    padding-left: 15%;
  }
}
.main-bg #main-content h4 {
  z-index: 7;
  position: relative;
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 2.9rem;
  margin-top: -55px;
}
@media screen and (max-width: 785px) {
  .main-bg #main-content h4 {
    font-size: 1.8rem;
    margin-top: -45px;
  }
}
.main-bg #main-content .text-bg {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRyhwCqEPispuf2S-NqU_dGt4nXvQ8c2GvT-Q&usqp=CAU);
  background-clip: number;
  -webkit-background-clip: text;
  color: transparent;
}
.main-bg #main-content .text-bg h1 {
  font-family: "Lato", sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0;
  line-height: 4.2rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 668px) {
  .main-bg #main-content .text-bg h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 501) and (min-width: 768px) {
  .main-bg #main-content .text-bg h1 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 500px) {
  .main-bg #main-content p {
    font-size: 0.5rem;
  }
}
.main-bg #main-content .box-on-screen {
  font-family: "Lato", sans-serif;
  z-index: 2;
  background-color: #dfd9d9a9;
  width: 55%;
  border: 2px solid white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .main-bg #main-content .box-on-screen {
    width: 90%;
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .main-bg #main-content .box-on-screen {
    width: 90%;
  }
}
.main-bg #main-content .box-on-screen p {
  margin: 0 0 5px 0;
  margin-left: 10%;
  font-size: 0.8rem;
}
.main-bg #main-content p.date {
  margin-top: 20px;
  font-family: "cocogoosedemibold";
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0;
}
@media screen and (max-width: 500px) {
  .main-bg #main-content p.date {
    font-size: 0.9rem;
  }
}

.main-bg-about {
  border-bottom: 2px solid #f3f3f3;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://cdn.cp.adobe.io/content/2/dcx/a708b1d2-528f-45b0-ad10-31259dd4db79/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 650px;
  margin-bottom: 0;
}
@media screen and (max-width: 540px) {
  .main-bg-about {
    height: 500px;
  }
}
@media screen and (max-width: 768px) and (min-width: 541px) {
  .main-bg-about {
    height: 700px;
  }
}

.line-bg {
  border-top: 2px solid #ec5242;
  z-index: 2;
  width: 5%;
  margin-left: 47.5%;
}