/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit !important;
  text-decoration: none;
}

.article-h3 {
  font-size: 1.5em;
  line-height: 1;
}

#top-nav {
  display: none;
  background: black;
  background: linear-gradient(49deg, rgba(15, 17, 19, 0.8152424942) 54%, rgba(15, 17, 19, 0.8152424942) 54%);
  margin-bottom: 0;
}
@media screen and (max-width: 2000px) and (min-width: 769px) {
  #top-nav {
    display: block;
  }
}
#top-nav ul {
  margin-left: 72%;
  margin-right: 6%;
}
#top-nav ul::after {
  content: "";
  display: block;
  clear: both;
}
#top-nav li {
  float: left;
  margin-right: 4%;
  text-align: center;
}
#top-nav a {
  font-size: 0.7rem;
  color: white;
  opacity: 0.7;
}
#top-nav:hover {
  text-decoration: none;
}

#bot-nav {
  height: 50px;
  display: none;
  margin-top: 0;
  padding-left: 15%;
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #bot-nav {
    display: block;
  }
}
#bot-nav img {
  float: left;
  width: 100px;
  margin-top: -10px;
}
#bot-nav ul {
  margin-left: 29%;
}
#bot-nav li {
  float: left;
  align-content: center;
  font-size: 0.8rem;
  margin-right: 7%;
  margin-top: 8px;
}
#bot-nav li:first-child {
  color: #ec5242;
}
#bot-nav li:last-child {
  margin-left: 3%;
  margin-top: 0;
  padding: 5px 7px;
  border: 3px solid #ec5242;
}

#small-nav {
  position: relative;
  display: none;
}
@media screen and (max-width: 768px) {
  #small-nav {
    display: block;
  }
}
#small-nav i {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
}

.main-bg {
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://cdn.cp.adobe.io/content/2/dcx/a708b1d2-528f-45b0-ad10-31259dd4db79/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 130vh;
  margin-bottom: 0;
}
@media screen and (max-width: 668px) {
  .main-bg {
    height: 90vh;
  }
}
.main-bg .bg-section {
  z-index: 3;
  height: 30vh;
  width: 70%;
  display: block;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main-bg .bg-section {
    height: 20vh;
  }
}
.main-bg .bg-section:after {
  content: "";
  z-index: 2;
  background-image: url(https://i.pinimg.com/originals/e0/fe/a0/e0fea00cb18c59520ae24b30b2b9ee97.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.main-bg #main-content {
  padding-left: 15%;
  z-index: 7;
}
.main-bg #main-content h4 {
  z-index: 7;
  position: relative;
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 2.9rem;
  margin-top: -55px;
}
@media screen and (max-width: 785px) {
  .main-bg #main-content h4 {
    font-size: 1.8rem;
    margin-top: -45px;
  }
}
.main-bg #main-content .text-bg {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRyhwCqEPispuf2S-NqU_dGt4nXvQ8c2GvT-Q&usqp=CAU);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main-bg #main-content .text-bg h2 {
  font-family: "Lato", sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0;
  line-height: 4.2rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 668px) {
  .main-bg #main-content .text-bg h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 501) and (min-width: 768px) {
  .main-bg #main-content .text-bg h2 {
    font-size: 2.2rem;
  }
}
.main-bg #main-content .box-on-screen {
  font-family: "Lato", sans-serif;
  z-index: 2;
  background-color: #b3b3b3;
  width: 55%;
  border: 2px solid white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .main-bg #main-content .box-on-screen {
    width: 80%;
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .main-bg #main-content .box-on-screen {
    width: 80%;
  }
}
.main-bg #main-content .box-on-screen p {
  margin: 0 0 5px 0;
  margin-left: 10%;
  font-size: 0.6rem;
}
.main-bg #main-content p.date {
  margin-top: 20px;
  font-family: "cocogoosedemibold";
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0;
}
@media screen and (max-width: 500px) {
  .main-bg #main-content p.date {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .main-bg #main-content p {
    font-size: 0.5rem;
  }
}

#main-program {
  background-image: url(https://cdn.cp.adobe.io/content/2/dcx/9201c10f-8b09-4fa4-a15b-cb0b102da3cb/rendition/preview.jpg/version/1/format/jpg/dimension/width/size/1200);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 100vh;
  width: 100%;
  margin-top: -30px;
}
@media screen and (max-width: 768px) {
  #main-program {
    height: 85vh;
    display: hidden;
  }
}
#main-program h2 {
  font-family: "cocogoosedemibold";
  margin-top: 55px;
  color: white;
  text-align: center;
}
#main-program .line {
  border-top: 2px solid #ec5242;
  width: 5%;
  margin-left: 47.5%;
}
@media screen and (max-width: 768px) {
  #main-program ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#main-program li {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program li {
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 13.2%;
    margin-top: 60px;
    padding-bottom: 10px;
    height: 160px;
  }
  #main-program li:first-child {
    margin-left: 15%;
  }
  #main-program li:nth-child(5n) {
    margin-right: 15%;
  }
}
@media screen and (max-width: 768px) {
  #main-program li {
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    padding: 2px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 520px) {
  #main-program li {
    font-size: 0.6rem;
  }
}
#main-program p {
  margin-left: 7%;
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program p {
    margin-right: 7%;
  }
}
#main-program i {
  margin-top: 8px;
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program i {
    font-size: 2rem;
  }
}
#main-program p,
#main-program i {
  text-align: center;
  color: white;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #main-program p,
#main-program i {
    float: left;
  }
}
#main-program .header-grid {
  color: #ec5242;
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  #main-program .flex-font {
    width: 50%;
  }
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #main-program .flex-font {
    font-size: 0.7rem;
  }
}

#featured-speakers {
  height: 140vh;
}
@media screen and (max-width: 768px) {
  #featured-speakers {
    height: 190vh;
  }
}
@media screen and (max-width: 450px) {
  #featured-speakers {
    height: 250vh;
  }
}
@media screen and (max-width: 450px) {
  #featured-speakers {
    height: 270vh;
  }
}
#featured-speakers h2 {
  font-family: "cocogoosedemibold";
  margin-top: 55px;
  text-align: center;
}
#featured-speakers .line {
  border-top: 2px solid #ec5242;
  width: 5%;
  margin-left: 47.5%;
}
@media screen and (max-width: 768px) {
  #featured-speakers ul {
    dislpay: flex;
    flex-direction: column;
    margin-left: 15%;
  }
}
@media screen and (max-width: 3000px) and (min-width: 769px) {
  #featured-speakers li {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 32.5%;
    margin-top: 60px;
    padding-bottom: 10px;
  }
  #featured-speakers li:first-child {
    margin-left: 15%;
  }
  #featured-speakers li:nth-child(2n) {
    margin-right: 15%;
  }
  #featured-speakers li:nth-child(even) {
    margin-right: 15%;
  }
  #featured-speakers li:nth-child(odd) {
    margin-left: 15%;
  }
  #featured-speakers li h4 {
    font-weight: bold;
    font-size: 0.9rem;
  }
  #featured-speakers li small {
    font-size: 0.5rem;
    color: #ec5242;
  }
  #featured-speakers li hr {
    width: 10%;
  }
  #featured-speakers li p {
    font-size: 0.7rem;
  }
  #featured-speakers li h4,
#featured-speakers li p {
    margin-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  #featured-speakers li {
    margin-top: 20px;
  }
  #featured-speakers li h4,
#featured-speakers li p {
    margin-left: 20px;
    font-size: 0.6rem;
  }
  #featured-speakers li img {
    width: 50px;
    height: 50px;
  }
  #featured-speakers li .grid-shadow-img {
    top: -15px;
    left: -15px;
    z-index: -1;
  }
  #featured-speakers li .grid-shadow-img img {
    width: 25px;
  }
}
#featured-speakers li .flex-list {
  display: flex;
}
#featured-speakers li img {
  width: 100px;
  height: 100px;
}
#featured-speakers li .grid-shadow-img {
  top: -30px;
  left: -30px;
  z-index: -1;
}
#featured-speakers li .grid-shadow-img img {
  width: 50px;
}

footer {
  background-color: #d3d3d3;
  margin-top: 10px;
  margin-right: 0;
}
footer h2 {
  font-family: "cocogoosedemibold";
  margin-top: 55px;
  color: #7e7e7e;
  text-align: center;
}
footer .line {
  border-top: 2px solid #ec5242;
  width: 5%;
  margin-left: 47.5%;
}
footer ul {
  display: flex;
  margin: 0 10%;
  margin-top: 40px;
}
footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68%;
  margin-right: 3%;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  footer li h3 {
    font-size: 0.8rem;
  }
}
footer h3 {
  margin-left: 5%;
  margin-top: 10px;
}

.text-bg-about {
  float: right;
  margin-right: 20%;
  color: #ec5242;
  font-family: "cocogoosedemibold";
  font-weight: bold;
}