@mixin clearFix{
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin mQ($args...){
  @if length($args) == 1{
    @media screen and (max-width: nth($args, 1)){
      @content;
    }
  }
  @if length($args) == 2{
    @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
      @content;
    }
  }
}